/* ===== GLOBAL BASE ===== */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0b0b0b;
  color: #ffffff;
}

#root {
  min-height: 100vh;
}